<html lang="en">
  {{ template "head.html" }}
  <body>
    {{ template "navbar.html" . }}

    <main class="mx-12 mt-4 h-screen" id="content">
      {{ if eq .Route "/" }} {{ template "dashboard.html" .}} {{ end }} {{ if eq
      .Route "/account" }} {{ template "user_display.html" .User }} {{end}} {{
      if eq .Route "/account/edit" }} {{ template "user_form.html" . }} {{end}}
      {{ if eq .Route "/account/password" }} {{ template "user_password.html" .
      }} {{end}}
    </main>

    {{ template "footer.html" }}
  </body>
</html>
