<div class="relative mb-8 overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
  >
    <thead
      class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Application</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Message</th>
        <th scope="col" class="px-6 py-3">Time</th>
        <th scope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range $_, $event := .Events.Data }}
      <tr
        class="border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-gray-900 even:dark:bg-gray-800"
      >
        <th
          scope="row-{{ $event.ID }}"
          class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
        >
          {{ $event.ID }}
        </th>
        <td class="px-6 py-4">{{ $event.Type }}</td>
        <td class="px-6 py-4">{{ $event.Application }}</td>
        <td class="px-6 py-4">{{ $event.Name }}</td>
        <td class="px-6 py-4">{{ $event.Message }}</td>
        <td class="px-6 py-4">{{ $event.FormattedTime }}</td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 hover:underline dark:text-blue-500"
            >Edit</a
          >
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  <nav
    class="flex-column flex flex-wrap items-center justify-between p-4 md:flex-row"
    aria-label="Table navigation"
  >
    <span
      class="mb-4 block w-full text-sm font-normal text-gray-500 dark:text-gray-400 md:mb-0 md:inline md:w-auto"
      >Showing
      <span class="font-semibold text-gray-900 dark:text-white"
        >{{ .Events.Start }} - {{ .Events.End }}</span
      >
      of
      <span class="font-semibold text-gray-900 dark:text-white"
        >{{ .Events.Total }}</span
      ></span
    >
    <ul
      class="inline-flex h-8 items-center -space-x-px text-sm rtl:space-x-reverse"
    >
      <li>
        {{ if ne .Events.PreviousPage nil }}
        <a
          href="{{ .Events.PreviousPage.QueryParams }}"
          class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
          >Previous</a
        >
        {{ else }}
        <a
          href="#"
          class="ms-0 flex h-8 cursor-not-allowed items-center justify-center rounded-s-lg border border-gray-300 bg-gray-200 px-3 leading-tight text-gray-500"
          >Previous</a
        >
        {{ end }}
      </li>
      <li>
        {{ if .Events.NextPage }}
        <a
          href="{{ .Events.NextPage.QueryParams }}"
          class="flex h-8 items-center justify-center rounded-e-lg border border-gray-300 bg-white px-3 leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700"
          >Next</a
        >
        {{ else }}
        <a
          href="#"
          class="ms-0 flex h-8 cursor-not-allowed items-center justify-center rounded-e-lg border border-gray-300 bg-gray-200 px-3 leading-tight text-gray-500"
          >Next</a
        >
        {{ end }}
      </li>
    </ul>
  </nav>
</div>
