<div class="mb-8 text-3xl">Account - {{ .User.FullName }}</div>

<div class="mr-16 flex flex-grow flex-col justify-center">
  <!-- Username -->
  <div class="flex flex-row items-center pb-2.5">
    <label for="username" class="flex basis-32 justify-end p-2.5"
      >Username:
    </label>
    <input
      type="text"
      name="username"
      id="username"
      class="flex-grow border-0 p-2.5 focus:border-blue-500 focus-visible:!outline-0"
      value="{{ .User.Username }}"
      disabled
    />
  </div>

  <!-- First Name -->
  <div class="flex flex-row items-center pb-2.5">
    <label for="first_name" class="flex basis-32 justify-end p-2.5"
      >First Name:
    </label>
    <input
      type="text"
      name="first_name"
      id="first_name"
      class="flex-grow border-0 p-2.5 focus:border-blue-500 focus-visible:!outline-0"
      value="{{ .User.FirstName }}"
      disabled
    />
  </div>

  <!-- Last Name -->
  <div class="flex flex-row items-center pb-2.5">
    <label for="last_name" class="flex basis-32 justify-end p-2.5"
      >Last Name:
    </label>
    <input
      type="text"
      name="last_name"
      id="last_name"
      class="flex-grow border-0 p-2.5 focus:border-blue-500 focus-visible:!outline-0"
      value="{{ .User.LastName }}"
      disabled
    />
  </div>

  <!-- User Type -->
  <div class="flex flex-row items-center pb-2.5">
    <label for="admin_status" class="flex basis-32 justify-end p-2.5"
      >User Type:
    </label>
    <input
      type="text"
      name="admin_status"
      id="admin_status"
      class="flex-grow border-0 p-2.5 focus:border-blue-500 focus-visible:!outline-0"
      value="{{ .User.AdminStatusString }}"
      disabled
    />
  </div>

  <!-- Action buttons -->
  <div class="flex w-full justify-end space-x-2.5">
    <a
      href="/account/password"
      hx-get="/account/password"
      hx-target="#content"
      hx-push-url="true"
      ><button
        type="submit"
        class="rounded-md border border-green-800 bg-green-500 p-2.5 px-4 font-semibold"
      >
        Change Password
      </button></a
    >
    <a
      href="/account/edit"
      hx-get="/account/edit"
      hx-target="#content"
      hx-push-url="true"
      ><button
        hx-get="/account/edit"
        hx-target="#content"
        hx-push-url="true"
        type="submit"
        class="rounded-md border border-green-800 bg-green-500 p-2.5 px-4 font-semibold"
      >
        Edit
      </button></a
    >
  </div>
</div>
