<div class="mb-8 text-3xl">Edit Password</div>

<div class="mr-16 flex flex-grow flex-col justify-center">
  <form action="/account/password" method="POST">
    <!-- Password -->
    <div class="flex flex-row items-center pb-2.5">
      <label for="password" class="flex basis-32 justify-end p-2.5"
        >Password:
      </label>
      <input
        type="password"
        name="password"
        id="password"
        class="flex-grow rounded-md border p-2.5 focus:border-blue-500 focus-visible:!outline-0"
      />
    </div>

    <!-- Confirm Password -->
    <div class="flex flex-row items-center pb-2.5">
      <label for="confirm_password" class="flex basis-32 justify-end p-2.5"
        >Confirm:
      </label>
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        class="flex-grow rounded-md border p-2.5 focus:border-blue-500 focus-visible:!outline-0"
      />
    </div>

    <!-- Action buttons -->
    <div class="flex w-full justify-end space-x-2.5">
      <img
        src="/static/img/puff.svg"
        alt="Loading Indicator"
        class="htmx-indicator"
        id="indicator"
      />
      <a
        href="/account"
        hx-get="/account"
        hx-target="#content"
        hx-push-url="true"
      >
        <button
          type="button"
          class="rounded-md border border-red-800 bg-red-500 p-2.5 px-4 font-semibold"
        >
          Cancel
        </button>
      </a>
      <button
        hx-put="/account/password"
        hx-target="#content"
        hx-push-url="/account"
        hx-indicator="#indicator"
        type="submit"
        class="rounded-md border border-blue-800 bg-blue-500 p-2.5 px-4 font-semibold"
      >
        Save
      </button>
    </div>
  </form>
</div>
