<div class="mb-8 text-3xl">Edit Account</div>

<div class="mr-16 flex flex-grow flex-col justify-center">
  <form>
    <!-- Username -->
    <div class="flex flex-row items-center pb-2.5">
      <label for="username" class="flex basis-32 justify-end p-2.5"
        >Username:
      </label>
      <input
        type="text"
        name="username"
        id="username"
        class="flex-grow border-0 p-2.5 focus:border-blue-500 focus-visible:!outline-0"
        value="{{ .Username }}"
        disabled
      />
    </div>

    <!-- First Name -->
    <div class="flex flex-row items-center pb-2.5">
      <label for="first_name" class="flex basis-32 justify-end p-2.5"
        >First Name:
      </label>
      <input
        type="text"
        name="first_name"
        id="first_name"
        class="flex-grow rounded-md border p-2.5 focus:border-blue-500 focus-visible:!outline-0"
        value="{{ .FirstName }}"
      />
    </div>

    <!-- Last Name -->
    <div class="flex flex-row items-center pb-2.5">
      <label for="last_name" class="flex basis-32 justify-end p-2.5"
        >Last Name:
      </label>
      <input
        type="text"
        name="last_name"
        id="last_name"
        class="flex-grow rounded-md border p-2.5 focus:border-blue-500 focus-visible:!outline-0"
        value="{{ .LastName }}"
      />
    </div>

    <!-- Button group -->
    <div class="flex w-full justify-end space-x-2.5">
      <button
        hx-get="/account"
        hx-target="#content"
        hx-push-url="true"
        type="submit"
        class="rounded-md border border-red-800 bg-red-500 p-2.5 px-4 font-semibold"
      >
        Cancel
      </button>
      <button
        hx-put="/account"
        hx-target="#content"
        hx-push-url="true"
        type="submit"
        class="rounded-md border border-blue-800 bg-blue-500 p-2.5 px-4 font-semibold"
      >
        Save
      </button>
    </div>
  </form>
</div>
